Host eve alice bob
  HostName 127.0.0.1
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes
  LogLevel FATAL

Host eve
  User eve
  Port 2200
  IdentityFile ~/.ssh/sandbox

Host alice
  User alice
  Port 2201
  IdentityFile ~/.ssh/sandbox

Host bob
  User bob
  Port 2202
  IdentityFile ~/.ssh/sandbox
